# Core numerics / IO
numpy
scipy
opencv-python==4.10.0.84
opencv-contrib-python-headless==4.10.0.84
Pillow
plyfile
trimesh
tqdm

# Renderers
pyrender

# Eval / viz
matplotlib
evo

# MoGe + DINOv3 deps
huggingface_hub
gradio
click
ftfy
omegaconf
regex
scikit-learn
submitit
termcolor
torchmetrics
utils3d @ git+https://github.com/EasternJournalist/utils3d.git@3fab839f0be9931dac7c8488eb0e1600c236e183

# XFeat deps
poselib
kornia==0.7.2
gdown
